.dr-meta-info {
	border-radius: 5px;
	background-color: #eeeeee;
	padding: 15px 0 10px 0;
	margin-bottom: 5px;
}
.dr-submit-section {
	text-align: center;
	border-top: solid 1px #dddddd;
	padding-top: 15px;
}
.dr-data-section,
.dr-credible-set-section,
.dr-description-section {
	padding-top: 15px;
	margin-top: 15px;
}

.dr-data-update-section {
	font-size: 14px;
}

.dr-data-section .row {
	margin-bottom: 15px;
}
.dr-form .col {
	margin-bottom: 10px;
}

.dr-form .col > div.label,
.dataset-page-header .col > div.label {
	font-weight: 700;
	font-size: 14px;
}

.dr-data-point-label {
	font-size: 14px;
	font-weight: 700;
}

.dr-form sup {
	font-size: 12px;
	color: #ff0000;
}

.dr-form sup.optional {
	font-weight: 400 !important;
	font-size: 12px;
	color: #08954a !important;
}

.dr-form sup.optional.block {
	display: block;
	line-height: 120%;
	margin-top: 0.7em;
}

.dr-sub-category {
	background-color: #eeeeee;
	border-radius: 5px;
	border: solid 1px #ffffff;
	padding-top: 5px;
	margin-top: -15px;
}

.dr-builder-ui {
	padding: 5px 15px;
}

.dr-builder-ui > div {
	border: solid 1px #dddddd;
	border-left: none;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #eeeeee;
}

.dr-builder-ui > div:first-child {
	border-left: solid 1px #dddddd;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.dr-builder-ui > div:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.dr-builder-ui > div:last-child > button {
	width: 100%;
	margin-bottom: 10px;
}

ul.dr-byor-data-columns {
	list-style: none;
	padding: 0;
}
ul.dr-byor-data-columns > li {
	position: relative;
	display: block;
}
ul.dr-byor-data-columns > li > label {
	display: block;
	position: absolute;
	top: 0;
	right: 0px;
}

ul.dr-byor-data-columns > li > label > select,
ul.dr-byor-data-columns > li > label > input[type="text"] {
	font-size: 12px;
	padding: 0 5px;
	height: 22px;
}

ul.dr-byor-data-columns.inline-list > li {
	width: auto;
	display: inline-block;
	margin-right: 15px;
}

ul.dr-byor-data-columns.inline-list > li > label {
	display: inline-block;
	position: relative;
}

.dr-bubbles-wrapper {
	margin-top: -15px;
}

.dr-format-bubble {
	font-size: 12px;
	padding: 3px 15px;
	height: 22px;
	border-radius: 12px;
	background-color: cornflowerblue;
	margin: 0 5px 5px 5px;
	display: inline-block;
}

.dr-format-bubble span {
	color: #ffffff;
	display: inline-block;
	margin: 0 3px;
}

.dr-format-bubble span.edit {
	color: #ffffff;
	background-color: #000000;
	border-right: none;
	border-radius: 8px;
	font-size: 10px;
	padding: 0 5px;
	margin-right: 0;
	vertical-align: 1px;
}
.dr-format-bubble span.editing {
	color: black;
	background-color: white;
	border-right: none;
	border-radius: 8px;
	font-size: 10px;
	padding: 0 5px;
	margin-right: 0;
	vertical-align: 1px;
}

span.edit-large{
	color: #ffffff;
	background-color: #000000;
	border-right: none;
	border-radius: 8px;
	font-size: 12px;
	padding: 3px 5px 3px 5px;
	margin-right: 0;
}

span.editing-large{
	color: black;
	background-color: white;
	border: 1px solid gray;
	border-radius: 8px;
	font-size: 12px;
	padding: 3px 5px 3px 5px;
	margin-right: 0;
}
.filter-row{
	padding-bottom: 10px;
}
.dr-format-bubble span.edit:hover {
	cursor: pointer;
}

pre.output{
	background-color: white;
	border-radius: 5px;
	border: solid 1px #dddddd;
	min-height: 150px;
	overflow-x: auto;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.arrow-button-list {
	margin: 5px !important;
}

.arrow-button, .replace-chars-button {
	font-size: small !important;
	padding: 0px 3px 0px 3px !important;
}
.arrow-button-up {
	margin-left: 10px;
}

.arrow-field {
	padding: 0px 3px 0px 3px !important;
	margin-left: 10px;
}
.delete-button {
	background-color: #ff0000 !important;
	border: none;
}

.failed-save{
	color: #ff0000;
	font-size: smaller;
	text-align: right;
}
.move-prev-next{
	padding: 0px 3px 0px 3px;
	margin: 0px 5px 0px 5px;
	font-size: 12px;
	font-weight: bold;
	height: 18px;
	vertical-align: top !important;
	background-color: cornflowerblue;
	color: #000;
	border: none;
}
.move-prev-next:disabled{
	color: cornflowerblue;
}
.tutorial-link {
	font-size: smaller;
}
.column-format-wide{
	width: 80%; 
	margin-left: 5px;
}
.column-format-medium{
	width: 50%;
	margin-left: 5px;
}
.column-format-label {
	margin-right: 10px;
}
#hover input {
	margin-left: 16px;
	margin-right: 10px;
}
sup.required {
	color: red !important;
}
.add-button {
	font-size: smaller;
	padding: 5px;
}
#viz-selector{
	width: 200px !important;
	margin-bottom: 20px;
}
.gui-btn {
	position: relative;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: 15px;
    color: #333333;
  }
  #manhattan-y {
    top: 110px;
    left: -6px;
  }
  #manhattan-x {
    top: 188px;
    left: 280px;
  }
  #manhattan-render {
    top: 110px;
    left: 80px;
  }
  #manhattan-graphic {
    top: 35px;
    left: -315px;
  }
  #heatmap-column {
	top: 60px;
	left: 450px;
  }
  #heatmap-row {
	top: 180px;
	left: 66px;
  }
  #heatmap-plot-label {
	top: 305px;
	left: 150px;
  }
  #heatmap-font-size {
	top: 85px;
	left: -300px;
  }
  #heatmap-main-wrapper {
	position: relative;
	top: -25px;
  }
  #heatmap-main-wrapper button, #heatmap-sub-wrapper button {
	margin-right: 20px;
  }
  #heatmap-sub-wrapper {
	position: relative;
	top: -15px;
  }
  .pad-field td {
    padding: 5px;
  }
  .compact td {
    font-size: smaller;
  }
  .compact input {
    margin-left: 5px;
  }
  .viz-gui {
    background-size: 800px;
    background-repeat: no-repeat;
  }
  #manhattan-gui {
    background-image: url("assets/images/manhattan_model_tight_crop.jpg");
	height:250px;
    background-position: left;
  }
  #heatmap-gui {
	background-image: url("assets/images/heatmap_crop_wide.jpg");
	height: 350px;
  }
  #leftFieldWrapper {
    width: 25%;
  }
  #leftField {
    margin-top: 20px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 15px;
    padding: 5px;
  }
  .done {
    background-color: green;
    border: 1px solid darkgreen;
    color: white;
  }
  .undone {
    background-color: orange;
    border: 1px solid orangered;
    color: black;
  }