.dr-form sup {
  font-size: 12px;
  color: #ff0000;
}

.dr-form .col>div.label,
.dataset-page-header .col>div.label {
  font-weight: 700;
  font-size: 14px;
}

.row {
  margin-bottom: 15px;
}

.dr-meta-info {
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 15px;
}

.large-accordion-heading {
  font-size: 22px;
}

ul {
  list-style: none;
  padding-left: 0;
}

.dotted {
  list-style: disc;
  margin-left: 3px;
}

.label {
  font-weight: 700;
  font-size: 14px;
}

.dataset-accordion-button:is(.collapsed) {
  background-color: #eeeeee;
}

.btn:disabled {
  background-color: #cccccc !important;
  border: solid 1px #aaaaaa !important;
}

.form-select:disabled {
  background-color: #cccccc !important;
  border: solid 1px #aaaaaa !important;
  color: #ffffff !important;
  opacity: .65 !important;
}

.google-signin-btn {
  background-color: #fff; /* White background */
  color: #757575; /* Google's recommended text color for the sign-in button */
  border: 1px solid #757575; /* Light grey border */
  display: inline-flex; /* Aligns the icon and text inline */
  align-items: center; /* Vertically centers the icon and text */
  justify-content: center; /* Horizontally centers the icon and text */
  text-transform: none;
}

.google-signin-btn img {
  margin-right: 10px; /* Adds spacing between the icon and the text */
}
